version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: ms-checkout-postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - checkout-network

volumes:
  postgres_data:

networks:
  checkout-network:
    driver: bridge