spring:
  application:
    name: ms-checkout

aws:
  region: ${AWS_REGION:us-east-1}

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    io.resousadev.linuxtips.mscheckout: DEBUG
    software.amazon.awssdk: DEBUG
    software.amazon.awssdk.request: DEBUG
