spring:
  application:
    name: ms-checkout

aws:
  region: ${AWS_REGION:us-east-1}
  accessKeyId: ${AWS_ACCESS_KEY_ID}
  secretAccessKey: ${AWS_SECRET_ACCESS_KEY}

server:
  port: ${SERVER_PORT:8080}

security:
  users:
    credentials:
      - username: ${SECURITY_ADMIN_USERNAME:admin}
        password: ${SECURITY_ADMIN_PASSWORD:admin123}
        roles:
          - ADMIN
          - USER
      - username: ${SECURITY_USER_USERNAME:user}
        password: ${SECURITY_USER_PASSWORD:user123}
        roles:
          - USER

logging:
  level:
    io.resousadev.linuxtips.mscheckout: DEBUG
    software.amazon.awssdk: DEBUG
    software.amazon.awssdk.request: DEBUG
