spring:
  application:
    name: ms-checkout
  output:
    ansi:
      enabled: ALWAYS

aws:
  region: ${AWS_REGION:us-east-1}
  accessKeyId: ${AWS_ACCESS_KEY_ID}
  secretAccessKey: ${AWS_SECRET_ACCESS_KEY}

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    io.resousadev.linuxtips.mscheckout: INFO
    software.amazon.awssdk: WARN
    software.amazon.awssdk.request: WARN
    org.springframework.web: INFO
    org.springframework.boot: INFO
