spring:
  application:
    name: ms-checkout
  output:
    ansi:
      enabled: ALWAYS

aws:
  region: ${AWS_REGION:us-east-1}
  accessKeyId: ${AWS_ACCESS_KEY_ID}
  secretAccessKey: ${AWS_SECRET_ACCESS_KEY}

server:
  port: ${SERVER_PORT:8080}

logging:
  level:
    io.resousadev.linuxtips.mscheckout: INFO
    software.amazon.awssdk: WARN
    software.amazon.awssdk.request: WARN
    org.springframework.web: INFO
    org.springframework.boot: INFO
  pattern:
    console: '%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr([%t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx'
  file:
    name: logs/ms-checkout.log
    max-size: 10MB
    max-history: 30
